<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso al Sistema - DGIC</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/Sistema-Gestion-Empleados/maquetado/css/style.css">
</head>
<body class="page-login">

    <nav class="navbar">
        <div class="logo-area">
            <img src="/Sistema-Gestion-Empleados/maquetado/img/sge1.png" alt="DGIC Logo">
        </div>
        <div class="nav-links">
            <a href="index.html">Inicio</a>
            <a href="login.html" class="btn-nav-login">Iniciar Sesion</a>
            <a href="registroUsuario.html">Registro</a>
            <a href="quienesSomos.html">Quiénes Somos</a>
            <a href="contacto.html" >Contacto</a>
            <a href="panelUsuario.html">Panel Usuario</a>
        </div>
    </nav>

    <main class="login-main-content">
        <div class="login-container">
            <div class="logo-box">
                <img src="/Sistema-Gestion-Empleados/maquetado/img/sge.png" alt="Escudo Policía Córdoba" class="logo-img">
            </div>

            <form action="#" method="POST">
                <div class="form-group">
                    <label for="username" class="form-label">Usuario / Legajo</label>
                    <input type="text" id="username" name="username" class="form-input" placeholder="Ingrese su usuario" required>
                </div>

                <div class="form-group">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" id="password" name="password" class="form-input" placeholder="••••••••" required>
                </div>

                <button type="submit" class="btn-login">Ingresar al Sistema</button>
            </form>

            <div class="login-footer">
                <a href="#" class="forgot-link">¿Olvidó su contraseña?</a>
            </div>

            <div class="login-footer-text">
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-logo">POLICÍA DE CÓRDOBA - Dirección General de Investigaciones Criminales</div>
        <p class="copyright">© 2026 Todos los derechos reservados.</p>
    </footer>

</body>
</html>